[Desktop Entry]
Name=FixIT Connect
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=fixit-connect %u
Icon=fixit-connect
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;remote-desktop;vnc;fixit;
Actions=new-window;
StartupWMClass=fixit-connect

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=fixit-connect %u
